<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[挖鼻屎]</key>
	<string>kbsa_org</string>
	<key>[泪]</key>
	<string>sada_org</string>
	<key>[亲亲]</key>
	<string>qq_org</string>
	<key>[晕]</key>
	<string>dizzya_org</string>
	<key>[可爱]</key>
	<string>tza_org</string>
	<key>[花心]</key>
	<string>hsa_org</string>
	<key>[汗]</key>
	<string>sweata_org</string>
	<key>[衰]</key>
	<string>cry</string>
	<key>[偷笑]</key>
	<string>heia_org</string>
	<key>[打哈欠]</key>
	<string>k_org</string>
	<key>[睡觉]</key>
	<string>sleepa_org</string>
	<key>[哼]</key>
	<string>hatea_org</string>
	<key>[可怜]</key>
	<string>kl_org</string>
	<key>[右哼哼]</key>
	<string>yhh_org</string>
	<key>[酷]</key>
	<string>cool_org</string>
	<key>[生病]</key>
	<string>sb_org</string>
	<key>[馋嘴]</key>
	<string>cza_org</string>
	<key>[害羞]</key>
	<string>shamea_org</string>
	<key>[怒]</key>
	<string>angrya_org</string>
	<key>[闭嘴]</key>
	<string>bz_org</string>
	<key>[钱]</key>
	<string>money_org</string>
	<key>[嘻嘻]</key>
	<string>tootha_org</string>
	<key>[左哼哼]</key>
	<string>zhh_org</string>
	<key>[委屈]</key>
	<string>wq_org</string>
	<key>[鄙视]</key>
	<string>bs2_org</string>
	<key>[吃惊]</key>
	<string>cj_org</string>
	<key>[吐]</key>
	<string>t_org</string>
	<key>[懒得理你]</key>
	<string>ldln_org</string>
	<key>[思考]</key>
	<string>sk_org</string>
	<key>[怒骂]</key>
	<string>nm_org</string>
	<key>[哈哈]</key>
	<string>laugh</string>
	<key>[抓狂]</key>
	<string>crazya_org</string>
	<key>[抱抱]</key>
	<string>bba_org</string>
	<key>[爱你]</key>
	<string>lovea_org</string>
	<key>[鼓掌]</key>
	<string>gza_org</string>
	<key>[悲伤]</key>
	<string>bs_org</string>
	<key>[嘘]</key>
	<string>x_org</string>
	<key>[呵呵]</key>
	<string>smilea_org</string>
	<key>[感冒]</key>
	<string>gm</string>
	<key>[黑线]</key>
	<string>hx</string>
	<key>[愤怒]</key>
	<string>face335</string>
	<key>[失望]</key>
	<string>face032</string>
	<key>[做鬼脸]</key>
	<string>face290</string>
	<key>[阴险]</key>
	<string>face105</string>
	<key>[困]</key>
	<string>face059</string>
	<key>[拜拜]</key>
	<string>face062</string>
	<key>[疑问]</key>
	<string>face055</string>
	<key>[眼镜]</key>
	<string>face058</string>
	<key>[爱]</key>
	<string>face071</string>
	<key>[拳头]</key>
	<string>face072</string>
	<key>[赞]</key>
	<string>face329</string>
	<key>[差劲]</key>
	<string>face073</string>
	<key>[心]</key>
	<string>hearta_org</string>
	<key>[伤心]</key>
	<string>unheart</string>
	<key>[太阳]</key>
	<string>face081</string>
	<key>[下雨]</key>
	<string>face340</string>
	<key>[中雨]</key>
	<string>face114</string>
	<key>[囧]</key>
	<string>j_org</string>
	<key>[奥特曼]</key>
	<string>otm_org</string>
	<key>[蜡烛]</key>
	<string>lazu_org</string>
	<key>[蛋糕]</key>
	<string>cake_org</string>
	<key>[弱]</key>
	<string>sad_org</string>
	<key>[ok]</key>
	<string>ok_org</string>
	<key>[威武]</key>
	<string>vw_org</string>
	<key>[猪头]</key>
	<string>face281</string>
	<key>[月亮]</key>
	<string>face18</string>
	<key>[浮云]</key>
	<string>face229</string>
	<key>[咖啡]</key>
	<string>face74</string>
	<key>[爱心传递]</key>
	<string>face221</string>
	<key>[来]</key>
	<string>face277</string>
	<key>[熊猫]</key>
	<string>face002</string>
	<key>[帅]</key>
	<string>face94</string>
	<key>[不要]</key>
	<string>face274</string>
	<key>[给力]</key>
	<string>face003</string>
	<key>[神马]</key>
	<string>face004</string>
	<key>[喜]</key>
	<string>face334</string>
	<key>[萌]</key>
	<string>face083</string>
	<key>[棒]</key>
	<string>face100</string>
	<key>[织]</key>
	<string>face217</string>
	<key>[相机]</key>
	<string>face228</string>
	<key>[礼物]</key>
	<string>face231</string>
	<key>[握手]</key>
	<string>face270</string>
	<key>[胜利]</key>
	<string>face271</string>
</dict>
</plist>
