<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[挖鼻屎]</string>
	<string>[泪]</string>
	<string>[亲亲]</string>
	<string>[晕]</string>
	<string>[可爱]</string>
	<string>[花心]</string>
	<string>[汗]</string>
	<string>[衰]</string>
	<string>[偷笑]</string>
	<string>[打哈欠]</string>
	<string>[睡觉]</string>
	<string>[哼]</string>
	<string>[可怜]</string>
	<string>[右哼哼]</string>
	<string>[酷]</string>
	<string>[生病]</string>
	<string>[馋嘴]</string>
	<string>[害羞]</string>
	<string>[怒]</string>
	<string>[闭嘴]</string>
	<string>[钱]</string>
	<string>[嘻嘻]</string>
	<string>[左哼哼]</string>
	<string>[委屈]</string>
	<string>[鄙视]</string>
	<string>[吃惊]</string>
	<string>[吐]</string>
	<string>[懒得理你]</string>
	<string>[思考]</string>
	<string>[怒骂]</string>
	<string>[哈哈]</string>
	<string>[抓狂]</string>
	<string>[抱抱]</string>
	<string>[爱你]</string>
	<string>[鼓掌]</string>
	<string>[悲伤]</string>
	<string>[嘘]</string>
	<string>[呵呵]</string>
	<string>[感冒]</string>
	<string>[黑线]</string>
	<string>[愤怒]</string>
	<string>[失望]</string>
	<string>[做鬼脸]</string>
	<string>[阴险]</string>
	<string>[困]</string>
	<string>[拜拜]</string>
	<string>[疑问]</string>
	<string>[眼镜]</string>
	<string>[爱]</string>
	<string>[拳头]</string>
	<string>[赞]</string>
	<string>[差劲]</string>
	<string>[心]</string>
	<string>[伤心]</string>
	<string>[太阳]</string>
	<string>[下雨]</string>
	<string>[中雨]</string>
	<string>[囧]</string>
	<string>[奥特曼]</string>
	<string>[蜡烛]</string>
	<string>[蛋糕]</string>
	<string>[弱]</string>
	<string>[ok]</string>
	<string>[威武]</string>
	<string>[猪头]</string>
	<string>[月亮]</string>
	<string>[浮云]</string>
	<string>[咖啡]</string>
	<string>[爱心传递]</string>
	<string>[来]</string>
	<string>[熊猫]</string>
	<string>[帅]</string>
	<string>[不要]</string>
	<string>[给力]</string>
	<string>[神马]</string>
	<string>[喜]</string>
	<string>[萌]</string>
	<string>[棒]</string>
	<string>[织]</string>
	<string>[相机]</string>
	<string>[礼物]</string>
	<string>[握手]</string>
	<string>[胜利]</string>
</array>
</plist>
